/* #inputText {
    border: none;
    color: green;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
.inputTextMayor {
    border: none;
    color: rgb(190, 58, 109);
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inputTextMenor {
    border: none;
    color: yellowgreen;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
